.frame {
  background-color: #0d0b0b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #0d0b0b;
  overflow: hidden;
  width: 1440px;
  height: 2048px;
  position: relative;
}

.frame .group {
  position: absolute;
  width: 1174px;
  height: 304px;
  top: 887px;
  left: 47px;
}

.frame .overlap-group {
  position: relative;
  width: 1168px;
  height: 304px;
  background-image: url(./img/group-14.png);
  background-size: 100% 100%;
}

.frame .text-wrapper {
  position: absolute;
  top: 249px;
  left: 32px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.frame .flexcontainer {
  gap: 20px;
  width: 755px;
  height: 130px;
  top: 94px;
  left: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.frame .text {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .span {
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 28px;
  left: 15px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-wrapper {
  position: absolute;
  width: 1174px;
  height: 304px;
  top: 1278px;
  left: 228px;
}

.frame .overlap {
  position: relative;
  width: 1168px;
  height: 304px;
  background-image: url(./img/group-14-1.png);
  background-size: 100% 100%;
}

.frame .flexcontainer-2 {
  gap: 20px;
  width: 483px;
  height: 130px;
  top: 98px;
  left: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 28px;
  left: 25px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 212px;
  top: 788px;
  left: 614px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-2 {
  position: absolute;
  width: 1544px;
  height: 335px;
  top: 1645px;
  left: -52px;
}

.frame .p {
  position: absolute;
  width: 291px;
  top: 309px;
  left: 627px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .to-explore-my-design {
  position: absolute;
  top: 0;
  left: 342px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.frame .text-wrapper-5 {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  text-decoration: underline;
}

.frame .text-wrapper-6 {
  font-weight: 500;
}

.frame .rectangle {
  position: absolute;
  width: 1544px;
  height: 118px;
  top: 105px;
  left: 0;
  background-color: #d9d9d914;
}

.frame .img {
  position: absolute;
  width: 68px;
  height: 86px;
  top: 121px;
  left: 96px;
  object-fit: cover;
}

.frame .adobe-illustrator {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 104px;
  left: 327px;
}

.frame .adobe-photoshop-logo {
  position: absolute;
  width: 135px;
  height: 135px;
  top: 96px;
  left: 615px;
}

.frame .python-logo {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 7px;
  left: 896px;
}

.frame .pngwing {
  position: absolute;
  width: 74px;
  height: 74px;
  top: 130px;
  left: 1375px;
  object-fit: cover;
}

.frame .text-wrapper-7 {
  position: absolute;
  width: 195px;
  top: 396px;
  left: 626px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .flexcontainer-3 {
  gap: 10px;
  width: 1142px;
  height: 114px;
  top: 461px;
  left: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.frame .span-wrapper {
  position: relative;
  align-self: stretch;
  background: linear-gradient(
    180deg,
    rgb(158.31, 158.31, 158.31) 0%,
    rgba(255, 255, 255, 0.96) 8.59%,
    rgba(196.56, 196.56, 196.56, 0.85) 43.75%,
    rgba(204.28, 204.28, 204.28, 0.77) 70.43%,
    rgba(255, 255, 255, 0.51) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-8 {
  color: #000000;
}

.frame .overlap-3 {
  position: absolute;
  width: 1352px;
  height: 78px;
  top: 46px;
  left: 44px;
  background-color: #d9d9d91a;
  box-shadow: 0px 4px 4px #1613134a;
}

.frame .group-2 {
  position: absolute;
  width: 316px;
  height: 36px;
  top: 21px;
  left: 18px;
}

.frame .text-wrapper-9 {
  position: absolute;
  width: 272px;
  top: 8px;
  left: 42px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.frame .mail {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
}

.frame .group-3 {
  position: absolute;
  width: 82px;
  height: 36px;
  top: 22px;
  left: 1061px;
}

.frame .overlap-4 {
  position: absolute;
  width: 30px;
  height: 34px;
  top: 2px;
  left: 48px;
}

.frame .github {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.frame .text-wrapper-10 {
  position: absolute;
  width: 22px;
  top: 0;
  left: 5px;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.frame .overlap-5 {
  position: absolute;
  width: 29px;
  height: 34px;
  top: 0;
  left: 0;
}

.frame .linkedin {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 2px;
  left: 0;
}

.frame .l {
  position: absolute;
  width: 18px;
  top: 0;
  left: 5px;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.frame .group-4 {
  position: absolute;
  width: 178px;
  height: 30px;
  top: 24px;
  left: 1158px;
}

.frame .text-wrapper-11 {
  position: absolute;
  width: 142px;
  top: 4px;
  left: 34px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .whatsapp {
  position: absolute;
  width: 31px;
  height: 30px;
  top: 0;
  left: 0;
}

.frame .group-5 {
  position: absolute;
  width: 272px;
  height: 69px;
  top: 645px;
  left: 584px;
}

.frame .mask-group {
  position: absolute;
  width: 181px;
  height: 181px;
  top: 183px;
  left: 630px;
}
